:root {
    --primary-font:"Montserrat", sans-serif;
    --secondary-font:"Outfit", sans-serif;
    --primary-color: black;
    --secondary-color: rgb(197, 5, 226);
    --jumbo-font:2.4em; /*primarily used on hero-sec main display. */
}
body{
    font-family: var(--primary-font);
}
h1, h2, h3, h4, h5, a {
    font-family: var(--secondary-font);
}
h1  {
    font-size: var(--jumbo-font);
}

.hero {
    background: #f0f0f0; /* You can change the background color or add an image */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
}
/* Modal Overlay */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top:  0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
  }
  
  /* Close Button */
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
  }
  
  .close:hover {
    color: #333;
  }
  
  /* Form Styling */
  .modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-content label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
  }
  
  .modal-content input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .modal-content input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .modal-content .btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modal-content .btn:hover {
    background-color: #0056b3;
  }