:root {
    --primary-font:"Montserrat", sans-serif;
    --secondary-font:"Outfit", sans-serif;
    --primary-color: black;
    --secondary-color: rgb(197, 5, 226);
    --jumbo-font:4.5em; /*primarily used on hero-sec main display. */
}

.hero {
    background: #f0f0f0; /* You can change the background color or add an image */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
}
