/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }*/

@media (max-width: 992px) { 
    .main-hero {
        max-height: 80vh;
    }
    .typing-text {
        font-size: 4em;
        max-width: 90%;
    }

 }

 @media (max-width: 768px) { 
    .main-hero {
        max-height: 70vh;
    }
    .typing-text {
        font-size: 2.5em;
    }
 }

 @media (max-width: 768px) { 
    .main-hero {
        max-height: 55vh;
    }
    .typing-text {
        font-size: 2.5em;
    }
    #hero-intro {
        font-size: 1.3em;
    
    }
 }